* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: rgb(26, 26, 26);
  background: linear-gradient(324deg, rgb(26, 26, 26) 0%, rgb(64, 55, 38) 50%, rgb(129, 90, 36) 100%);
  color: #fff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.flexbox-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexbox-container .main-flexbox {
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.flexbox-container .main-flexbox .header {
  display: flex;
  justify-content: center;
}
.flexbox-container .main-flexbox .header__logo {
  width: 400px;
}
.flexbox-container .main-flexbox .togglewrap {
  padding-top: 25px;
}
.flexbox-container .main-flexbox .togglewrap .toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexbox-container .main-flexbox .togglewrap .toggle-container .toggle-text {
  margin: 0 10px;
  font-size: 20px;
  color: #fff;
}
.flexbox-container .main-flexbox .togglewrap .toggle-container .toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 32px;
}
.flexbox-container .main-flexbox .togglewrap .toggle-container .toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.flexbox-container .main-flexbox .togglewrap .toggle-container .toggle .knob {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2af46;
  transition: 0.2s;
  border-radius: 30px;
}
.flexbox-container .main-flexbox .togglewrap .toggle-container .toggle .knob:before {
  background-color: #070505;
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  transition: 0.2s;
  border-radius: 30px;
}
.flexbox-container .main-flexbox .togglewrap .toggle-container .toggle input:checked + .knob {
  background-color: rgba(242, 175, 70, 0.6666666667);
}
.flexbox-container .main-flexbox .togglewrap .toggle-container .toggle input:focus + .knob {
  box-shadow: 0 0 1px #2196F3;
}
.flexbox-container .main-flexbox .togglewrap .toggle-container .toggle input:checked + .knob:before {
  background-color: #ffffff;
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}
.flexbox-container .main-flexbox .contentwrap {
  padding-top: 25px;
  text-align: center;
}
.flexbox-container .main-flexbox .contentwrap .content .flex-items {
  font-size: 12px;
}
.flexbox-container .main-flexbox .contentwrap .content .flex-items .title {
  color: #f2af46;
}
.flexbox-container .main-flexbox .buttonswrap {
  padding-top: 25px;
}
.flexbox-container .main-flexbox .buttonswrap .button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexbox-container .main-flexbox .buttonswrap .button-container .button {
  padding: 10px 20px;
  background-color: #f2af46;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  margin: 10px;
}
.flexbox-container .main-flexbox .buttonswrap .button-container .button:hover {
  background-color: #000;
  color: #f2af46;}

  
  /* Desktop styles */
@media (min-width: 992px) {
  .flexbox-container .main-flexbox {
    width: 600px;
  }
  .header__logo {
    width: 200px;
  }
}

/* Tablet styles */
@media (max-width: 991px) and (min-width: 768px) {

  .flexbox-container .main-flexbox .header__logo {
    width: 220px;
   }
   .flexbox-container .main-flexbox .contentwrap .content .flex-items {
    font-size: 12px;
    width: 95%;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
 
  .flexbox-container .main-flexbox .header__logo {
    width: 200px;
   }

   .main-flexbox{
      width: 95%;
      padding: 10px;
   }
   .flexbox-container .main-flexbox .contentwrap .content .flex-items {
    font-size: 12px;
    width: 95%;
  }
}

/*# sourceMappingURL=app.css.map */
